* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    padding: 0;
}

header, main, footer {
    padding-left: 300px; /*== offset main templates ==*/
}
.nav-wrapper {
    padding-left: 300px;
    width: calc(100% - 300px); /*== navbar width - sidenav offset==*/
    padding-inline: 1rem; /*== align items ==*/
}

.metric-card-content {
    font-weight: 600;
}

.dropdown-content {
    top: 100% !important;
    max-width: 35% !important;
    width: 100% !important;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0; /*== remove main template offset ==*/
    }

    .nav-wrapper {
        padding-left: 0; /*== remove navbar offset ==*/
        width: 100%; /*== let materializeCSS apply navbar width ==*/
    }
    
}