* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#ffffff 1%, #71f268 100%);
}

.dropdown-content {
    top: 100% !important;
    width: 100% !important;
    max-width: 20% !important;
}